@import "variables";

/**
 * Reusable
 */
.p-b-5 {
  padding: 0 5px;
}

.window-body {
  @extend .p-b-5;
}

.pointer {
  cursor: pointer;
}

.fb-color {
  color: $fb-color;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

/**
 * Static
 */

/**
 * disable text selection
 */
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * disable dragging of image
 */
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.post-engagement-line {
  padding-top: 5px;
}

.option-icon-buttons {
  i {
    padding: 0 5px;
  }
}
